---
import { getCollection } from "astro:content";
import Layout from "../../layout/default.astro";
import PostsList from "../../components/PostsList.astro";

const blogEntries = (await getCollection("blog")).filter(
  (post) => !post.data.archived
);
---

<Layout pageTitle="Blog">
  <div class="mb-10">
    <h2 class="text-3xl font-semibold dark:text-white">Recent posts</h2>
  </div>
  <PostsList posts={blogEntries} />
</Layout>
