---
import Layout from "../layout/default.astro";
---

<Layout>
  <div class="self-center m-auto">
    <h1 class="text-8xl my-8 text-center font-light dark:text-gray-300">
      ¯\_(ツ)_/¯
    </h1>
    <h2 class="text-xl my-2 text-center font-nomral dark:text-gray-300">
      404 Not Found!
    </h2>
    <h2 class="text-3xl my-8 text-center font-nomral dark:text-gray-300">
      The page you are looking doesn't exist.
    </h2>
  </div>
</Layout>
