---
import Layout from "../layout/default.astro";
---

<Layout pageTitle="About" description="About me, Elvis Adomnica">
  <div class="md:m-0 m-auto">
    <div
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-800 dark:bg-gray-900 dark:hover:bg-gray-800"
    >
      <img
        class="object-cover w-full rounded-t-lg h-auto md:h-auto md:format-md md:rounded-none md:rounded-s-lg"
        src="/assets/Elvis.jpg"
        alt="Elvis Adomnica"
      />
      <div
        class="flex flex-col format dark:format-invert text-gray-900 dark:text-gray-200 dark:format-code:bg-gray-700 justify-between p-4 leading-normal"
      >
        <h1
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          About me
        </h1>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Hello and welcome! My name is Elvis and I'm glad to have you here.
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          With a passion for programming <a
            target="_blank"
            href="/blog/20-years-of-coding-part-1"
            title="20 years of coding">spanning over two decades</a
          >, my journey began with the C programming language in high school.
          After that, I deepened my knowledge earning a bachelor's degree in
          Applied Computer Science from West University of Timisoara, Romania,
          followed by a master's degree in Software Engineering at IT University
          of Copenhagen, Denmark.
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          As a professional programmer for about {new Date().getFullYear() - 2009} years,
          my expertise spans over various realms, from frontend and backend development
          to desktop applications using Electron. At the moment, I'm working on projects
          involving React and Node.js using TypeScript, and leveraging Java for other
          type of services.
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Beyond coding, I find joy in spending time with my family,
          <a
            target="_blank"
            href="https://www.youtube.com/watch?v=-NpUG8OJSf8"
            title="Elvis Adomnica - Memory Management and Garbage Collection in V8"
            >contributing to the community</a
          >, being in nature, <a
            target="_blank"
            href="https://www.poolpub.dk/"
            title="my pool club">playing pool</a
          >, and exploring the world of electronic music.
        </p>
      </div>
    </div>
  </div>
</Layout>
