---
const identity = (x: any) => x;
const { info, print = identity, showLineNumbers } = Astro.props;
const lineNumbers = Array.from([...Array(info.length).keys()]);
---

<style is:global>
  .code-wrapper {
    width: 100%;
    display: flex;
    border-radius: 0.375rem;
    overflow: hidden;
  }

  .code-wrapper pre {
    margin: 0;
    padding: 1rem 0.2rem;
    border-radius: 0;
  }

  .code-wrapper .line-num pre {
    background-color: inherit;
    text-align: right;
  }

  .code-wrapper .code-info pre {
    text-align: center;
  }

  .code-wrapper .code {
    background-color: #24292e;
    flex-grow: 1;
  }

  .code-wrapper .code > pre {
    padding: 1rem 1.5rem;
  }
</style>

<div class="code-wrapper">
  {
    showLineNumbers && (
      <div class="line-num">
        <pre>{lineNumbers.map((num) => `${num + 1}\n`)}</pre>
      </div>
    )
  }
  <div class="code-info">
    <pre>{info.map((d: any) => {
        const text = d ? `${print(d)}` : " ";
        return `${text}\n`;
      })}</pre>
  </div>
  <div class="code"><slot /></div>
</div>
