---
import { SignedIn } from "@clerk/astro/components";
const currentPlayer = Astro.locals.player;
---

<SignedIn>
  <nav
    style="background-color: #004a00;"
    class="absolute bottom-0 mx-auto w-full max-w-screen-sm"
  >
    <div class="flex w-full p-3 justify-between text-white">
      <a href="/dpk" class="inline-flex flex-col justify-center items-center">
        <img
          class="inline-block h-10 w-10"
          src="/assets/challenge.svg"
          alt="challenge"
        />
        <span class="inline-block text-sm">Challenge</span>
      </a>
      <a class="inline-flex flex-col justify-center items-center">
        <img
          class="inline-block h-10 w-10"
          src="/assets/pyramid.svg"
          alt="pyramid"
        />
        <span class="inline-block text-sm">Pyramid</span>
      </a>
      <a
        href={currentPlayer.admin ? "/admin" : "#"}
        class="inline-flex flex-col justify-center items-center"
        style="margin-top: -68px;"
      >
        <img src="/assets/dpk-logo.png" alt="rules" />
      </a>
      <a class="inline-flex flex-col justify-center items-center">
        <img
          class="inline-block h-10 w-10"
          src="/assets/rules.svg"
          alt="rules"
        />
        <span class="inline-block text-sm">Rules</span>
      </a>
      <a
        href="/dpk/profile"
        class="inline-flex flex-col justify-center items-center"
      >
        <img
          class="inline-block h-10 w-10 rounded-full object-cover object-center m-auto"
          src={currentPlayer.profileURI}
          alt="profile"
        />
        <span class="inline-block text-sm">Profile</span>
      </a>
    </div>
  </nav></SignedIn
>
