---
import Layout from "../../layout/default.astro";
---

<Layout pageTitle="DPK Admin">
  <h1 class="text-xl my-6 text-center font-light">
    DPK Admin
  </h1>
  <div class="relative overflow-x-auto shadow-sm rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500"
    >
      <tbody>
        <tr
          class="odd:bg-white even:bg-gray-50 even:dark:bg-gray-800 border-b border-gray-200"
        >
          <td
            class="py-4 font-medium text-center text-gray-900 whitespace-nowrap"
          >
            <a href="/admin/player" class="inline-block w-full h-full">DPK Players</a>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr
          class="odd:bg-white even:bg-gray-50 even:dark:bg-gray-800 border-b border-gray-200"
        >
          <td
            class="py-4 font-medium text-center text-gray-900 whitespace-nowrap"
          >
            <a href="/admin/match" class="inline-block w-full h-full">DPK Matches</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</Layout>
