---
import Layout from "../../layout/default.astro";
export const prerender = false; // Not needed in 'server' mode


let user = "elvis";

if (Astro.cookies.has('user')) {
  const cookie = Astro.cookies.get('user')
  user = cookie.value
}

Astro.cookies.set('user', String(user))
---
<Layout pageTitle="DPK League">
  <div class="mb-10">
    <h2 class="text-3xl font-semibold dark:text-white">{user}</h2>
  </div>
</Layout>