---
import NavBar from "../components/NavBar.astro";
import BaseLayout from "./base.astro";

const { pageTitle, description } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <main
    style="background-color: #f5f5f5; max-height: calc(100vh - 90px); overflow-y: scroll;"
    class="p-4 flex flex-col h-full mx-auto w-full max-w-screen-sm"
  >
    <slot />
  </main>
  <NavBar />
</BaseLayout>
