---
import NavBar from "../components/NavBar.astro";
import BaseLayout from "./base.astro";

const { pageTitle, description } = Astro.props;
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <main style="background-color: #f5f5f5;" class="p-4 flex flex-col h-full mx-auto w-full max-w-screen-sm">
    <slot />
  </main>
  <NavBar />
</BaseLayout>
